/* Estilo navbar vista pc */
.navbar-desktop {
    height: 100vh;
    width: var(--navbar-width);
    background-color: var(--background-color);
    border-right: 1px solid var(--border-color);
    transition: width 0.3s ease;
    z-index: 100;
}

/* Estilos navbar mobile */
.navbar-mobile {
    border-top: 1px solid var(--border-color);
}

/* Estilo div busquedad */
.search-component {
    height: 100vh;
    position: fixed;
    left: -100px;
    top: 0;
    width: 350px;
    background-color: var(--background-color);
    border-right: 1px solid var(--border-color);
    visibility: hidden;
    opacity: 0;
    transition: left 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
    z-index: 5;
}

.search-component.active {
    visibility: visible;
    opacity: 1;
    left: 85px;
}

.search-content {
    padding: 20px;
    height: 100%;
    overflow-y: hidden;
}

.search-input-wrapper {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--background-input);
    border-radius: 10px;
    padding: 5px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
}

.search-icon,
.clear-input {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: var(--text-color);
}

.search-icon {
    right: 20px;
}

hr {
    margin: 20px 0;
    border: 1px solid var(--border-color);
}

.search-results p {
    margin: 10px 0;
    color: var(--text-color);
}

/* Estilos navbar */
.nav-link {
    font-size: 1.3rem;
    padding: 0.5rem;
    transition: color 0.3s;
}

.nav-link span {
    font-size: 20px;
}

@media (max-width: 1439px) {
    .navbar-desktop {
        width: 85px !important;
        /* Ancho comprimido */
    }

    .navbar-desktop .nav-item {
        justify-content: center;
        /* Centra los iconos */
    }

    .navbar-desktop .nav-item .icon-text-container {
        display: none;
        /* Oculta el texto */
    }

    .navbar-desktop .nav-item .icon-container {
        padding-left: 0;
        /* Ajusta el padding si es necesario */
    }

    .btn.newWorkout i {
        display: inline-block;
        /* Asegura que el icono se muestre */
    }

}

@media (max-width: 992px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }

    .navbar-mobile-top {
        display: flex !important;
    }
}

/* Boton de iniciar entrenamiento */
.newWorkout {
    background-color: var(--principal);
    border-radius: 10px;
    height: 40px;
    color: #FFFF !important;
}

/* Imagen perfil */
.imagenAppNavBar {
    width: 45px;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.textAppNavBar {
    font-family: 'Dancing Script';
    padding-left: 0px;
    font-size: 42px;
    margin-bottom: -2px
}

#divAppNavBar {
    margin-left: -147px;
}

/* Animacion iconos al pasar el raton por encima */
.icon-container i {
    transition: transform 0.2s ease;
}

.nav-item:hover .icon-container i {
    transform: scale(1.1);
}

.icon-container:hover i {
    transform: scale(1.1);
}

/* Estilos mas opciones */
/* Estilos para el dropdown de configuración */
.settings-menu {
    position: absolute;
    top: 227px;
    left: 14px;
    width: 320px;
    height: 300px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 101;
}

.theme-settings {
    position: absolute;
    top: 360px;
    left: 14px;
    width: 320px;
    height: 167px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 101;
}

.theme-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.theme-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.theme-header h5 {
    margin: 0;
    flex-grow: 1;
}

.theme-icon {
    padding-right: 9px;
    font-size: 1.2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-input);
    /* Ajuste aquí */
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--background-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--principal);
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Ajusta el margen según sea necesario */
}

.user-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    /* Ajusta el margen derecho según sea necesario */
}

.user-name {
    margin: 0;
}

/* Estilos para el navbar desktop */
.navbar-desktop {
    opacity: 1 !important;
}

.navbar-dark.bg-dark {
    background-color: var(--background-color) !important;
    opacity: 0.9;
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item .nav-link .icon-container {
    width: 30px;
    margin-right: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: var(--background-input) !important;
    border-radius: 25px;
}

.navbar-nav .nav-item .nav-link .fas {
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
}

/* Estilos para el navbar móvil */
.navbar-mobile {
    display: flex;
    justify-content: space-between;
    /* Distribuye los elementos uniformemente */
    align-items: center;
    /* Centra verticalmente los elementos */
    height: 60px;
    /* Altura deseada para el navbar móvil */
    padding: 0 20px;
    /* Espaciado horizontal entre los íconos */
}

.navbar-mobile .nav-link {
    color: white;
    /* Color del texto */
    font-size: 20px;
    /* Tamaño del texto */
}

.navbar-mobile .nav-link:hover {
    color: gray;
    /* Color del texto al pasar el ratón por encima */
}

/* Estilo para los íconos */
.navbar-mobile .nav-link i {
    display: block;
    /* Hace que los íconos sean bloques para centrarlos */
    /* margin: 0 80px; */
    /* Centra los íconos horizontalmente */
}

/* Estilos para el navbar móvil en la parte superior */
.navbar-mobile-top {
    width: 100%;
    /* Ocupa el 100% del ancho de la pantalla */
    height: 60px;
    /* Altura deseada para la barra */
    background-color: var(--background-color);
    /* Color de fondo deseado */
    display: flex;
    /* Usa flexbox para el diseño */
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.navbar-mobile-top .navbar-text {
    color: white;
    /* Color del texto */
    font-size: 20px;
    /* Tamaño del texto */
}

.navbar-mobile-top {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 105;
    /* Asegúrate de que esté encima de otros elementos */
    background-color: red !important;
    /* Color de fondo */
    color: var(--text-color);
    /* Color del texto */
    /* padding: 10px 0; */
    justify-content: center;
    /* Centrar el contenido horizontalmente */
    align-items: center;
    /* Centrar el contenido verticalmente */
}

.search-results {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 16px; /* Añade espacio para la barra de desplazamiento */
}

.search-results::-webkit-scrollbar {
    width: 0; /* Opción para navegadores Webkit */
}