.post-container {
    margin: 0;
    /* Elimina el margen exterior */
    padding: 0;
    /* Elimina el relleno exterior */
    margin-left: -200px;
}

.post-card {
    margin-bottom: 0;
    /* Elimina el margen inferior */
    background-color: var(--background-color);
    /* Color de fondo transparente */
    border: 1px solid var(--border-color);
    /* Borde y color */
    border-radius: 0;
    /* Borde cuadrado */
    padding: 0;
    /* Elimina el relleno interno */
}

.post-image-container {
    margin-top: 10px;
    /* Espacio entre el contenido del post y la imagen */
}

.post-image {
    max-width: 100%;
    /* Ajusta el ancho máximo de la imagen */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

.post-actions {
    margin-top: 10px;
    /* Espacio entre los botones de acciones y el contenido */
}
