<div class="post-container">
    <div class="card mb-3 post-card">
        <div class="card-body">
            <div class="d-flex">
                <img [src]="post.image" class="rounded-circle post-avatar" alt="Avatar">
                <div class="ml-3">
                    <h5 class="card-title">{{ post.author }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
            <div class="post-image-container">
                <img [src]="post.postImage" class="post-image" alt="Post Image">
            </div>
            <div class="d-flex justify-content-between post-actions">
                <button class="btn btn-link"><i class="fa-regular fa-thumbs-up"></i></button>
                <button class="btn btn-link"><i class="fa-regular fa-comment"></i></button>
                <button class="btn btn-link"><i class="fa-regular fa-bookmark"></i></button>
            </div>
        </div>
    </div>
</div>
