@import '~toastr/build/toastr.min.css';

/* Esto es para que la pagina se vea fullscreen, si lo quitas se va todo al centro (pocho) */
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1864px;
        /* Anula el máximo ancho */
    }
}

body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* CSS para el modal */
.modal-dialog {
    margin: 0 auto;
    margin-top: calc(10% - 30px);
}

/* Quitar marca de agua */
.ag-watermark {
    display: none !important;
}

.ag-header {
    background: #343A40 !important;
}

.ag-icon-asc,
.ag-icon-desc,
.ag-icon-menu,
.ag-header-cell-resize,
.ag-header-cell-text {
    color: white !important;
}

.ag-header-cell-resize::after {
    background-color: white !important;
}

.ag-theme-alpine .ag-row {
    border: none !important;
}

.ag-row {
    border: none !important
}

.ag-cell {
    border-bottom: 0px !important;
    border-top: 0px !important;
}

.ag-theme-quartz input[class^=ag-] {
    min-height: 22px !important;
}

.ag-header-row-column-filter {
    background-color: #f5f5f5 !important;
}