<div class="container">
  <app-search-bar (toggle)="toggleModal()"></app-search-bar>

  <!-- Barra de navegación -->
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'global'" (click)="setActiveTab('global')">EJERCICIOS
          GLOBALES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'personalizados'"
          (click)="setActiveTab('personalizados')">EJERCICIOS PERSONALIZADOS</a>
      </li>
    </ul>
  </nav>

  <!-- Sección de Ejercicios Globales -->
  <div *ngIf="activeTab === 'global'" class="section Exercises-content">
    <div class="container-custom">
      <div *ngFor="let globalExercise of globalExercises; let i = index" class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header card-header-custom" id="heading{{i}}">
              <h2 class="mb-0">
                <button class="btn btn-link text-white" type="button" (click)="toggleCollapse(i)">
                  {{ globalExercise[0] }}
                </button>
              </h2>
            </div>
            <div [ngbCollapse]="isCollapsed !== i" id="collapse{{i}}">
              <div class="card-body">
                <ul>
                  <li *ngFor="let exercise of globalExercise[1]">
                    <a class="image" [routerLink]="['/exercises', exercise.id]">
                      <img [src]="exercise.image" alt="Imagen" style="width: 50px; height: 50px;">{{ exercise.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de Ejercicios Personalizados -->
  <div *ngIf="activeTab === 'personalizados'" class="section Exercises-content">
    <div class="container-custom">
      <ng-container *ngIf="userExercises && userExercises.length > 0; else noExercises">
        <div *ngFor="let userExercise of userExercises; let i = index" class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header card-header-custom" id="heading{{globalExercises.length + i}}">
                <h2 class="mb-0">
                  <button class="btn btn-link text-white" type="button"
                    (click)="toggleCollapse(globalExercises.length + i)">
                    {{ userExercise[0] }}
                  </button>
                </h2>
              </div>
              <div [ngbCollapse]="isCollapsed !== (globalExercises.length + i)"
                id="collapse{{globalExercises.length + i}}">
                <div class="card-body">
                  <ul>
                    <li *ngFor="let exercise of userExercise[1]">
                      <a class="image" [routerLink]="['/exercises', exercise.id]">
                        <img [src]="exercise.image" alt="Imagen" style="height: 50px; width: 50px; border-radius: 25px;">{{ exercise.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noExercises>
        <div class="text-center">
          <p>No tienes ejercicios propios</p>
          <button class="btn btn-primary" (click)="toggleModal()">Añadir Ejercicio</button>
        </div>
      </ng-template>
    </div>
  </div>
  <app-add-exercise-modal *ngIf="showModal" (close)="toggleModal()"></app-add-exercise-modal>
</div>