/* styles.css */

.container {
  padding: 20px;
}

/* 
.section {
  margin-bottom: 40px;
}

.section-title {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
} */

.container-custom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.col-12 {
  width: 100%;
}

.card {
  background-color: var(--background-color);
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-header-custom {
  background-color: var(--background-input);
  padding: 10px 20px;
}

.card-header-custom .btn {
  width: 100%;
  text-align: left;
  color: var(--text-color);
  text-decoration: none;
}

.card-body {
  background-color: var(--background-input);
  padding: 20px;
}

.card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-body li {
  margin-bottom: 10px;
}

.card-body li a {
  color: var(--text-color);
  text-decoration: none;
}

.card-body li a img {
  max-width: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: var(--principal);
  border: none;
  color: var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.Exercises-content,
.nav-tabs {
  position: fixed;
  /* top: 27px; */
  left: 436px;
  right: 20px;
  max-width: calc(100% - 55%);
  max-height: calc(100vh - 27px);
}

.Exercises-content {
  top: 85px;
}

.nav-tabs {
  top: 30px;
  border-bottom: 2px solid var(--border-color);
}

.nav-tabs a {
  color: var(--text-color);
}

.nav-link:hover {
  background-color: var(--background-input);
  border-bottom: none;
}

.container-custom {
  overflow-y: auto;
  max-height: calc(100vh - 95px);
}

.container-custom::-webkit-scrollbar {
  display: none;
}

.nav-link {
  border: 2px solid transparent;
  margin-bottom: 5px;
}


.nav-link.active {
  background-color: var(--background-input);
  /* border: none; */
}

a.nav-link.active {
  padding-bottom: 7px;
  border-bottom: 3px solid var(--principal);

}

.nav-tabs .nav-link{
  /* border: 0px solid var(--principal); */
  border-top: none;
  border-left: none;
  border-right: none;
}