.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.profilePost-container .col-md-4 {
    padding: 2px;
}

.profilePost-container .card {
    margin-bottom: -8px;
}