.post-card {
    margin-bottom: 0;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 0;
    padding: 0;
}

.post-image-container {
    margin-top: 10px;
}

.post-image {
    width: 640px;
    height: 480px;
    object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.post-actions {
    margin-top: 10px;
}

.post-container {
    width: 74vh;
}

.liked-icon {
    color: red;
    /* Color rojo para el icono cuando está activo el like */
}

/* Cambia el color del icono sin like a rojo cuando se pasa el ratón sobre él */
.noliked-icon:hover {
    color: red;
}

.rounded-circle {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}