.content {
  margin-left: 0;
  padding: 20px;
  min-height: 100vh;
}

@media (min-width: 992px) {
  .content {
    margin-left: 250px;
  }
}

/* .bg-dark {
  background-color: #15202b !important;
} */

a {
  color: var(--principal);
}

a:hover {
  color: var(--principal);
}

.suggestions {
  display: none;
}

@media (min-width: 992px) {
  .suggestions {
    display: block;
  }
}