body {
  background-color: #0e141b;
  color: #ffffff;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.content {
  margin-left: 0;
  padding: 20px;
  min-height: 100vh;
}

@media (min-width: 992px) {
  .content {
    margin-left: 250px;
  }
}

.bg-dark {
  background-color: #15202b !important;
}

.text-light {
  color: #ffffff !important;
}

a {
  color: #1DA1F2;
}

a:hover {
  color: #1a91da;
}

.suggestions {
  display: none;
}

@media (min-width: 992px) {
  .suggestions {
    display: block;
  }
}