<!-- src/app/login/login.component.html -->
<section>
    <div class="contenedor">
        <div class="formulario">
            <form (ngSubmit)="acceder()">
                <h2>Iniciar Sesion</h2>

                <div class="input-contenedor">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" required [(ngModel)]="email" name="email">
                    <label>Email</label>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" required [(ngModel)]="password" name="password">
                    <label>Contraseña</label>
                </div>

                <div class="olvidar">
                    <label>
                        <input type="checkbox">
                        <a href="#">Olvide la contraseña</a>
                    </label>
                </div>

                <div>
                    <button type="submit">Acceder</button>
                    <div class="registrar">
                        <p>No tengo cuenta <a href="#">Crear una cuenta</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>