.start-workout-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-y: auto;
    max-height: calc(100vh - 70px);
    /* Ajusta esto según sea necesario */
}

.start-workout-content::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--background-input);
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

.subheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    position: sticky;
    top: 70px;
    /* Adjust based on the height of the header */
    z-index: 9;
    border-bottom: 1px solid var(--border-color);
}

.progress-bar {
    justify-content: space-between;
    height: 3px;
    background-color: #e0e0e0;
    position: absolute;
    top: 74px;
    z-index: 10;
    width: calc(100% - 30px);
    left: 15px;
}

.progress {
    height: 100%;
    background-color: var(--principal);
}

.header .left {
    display: flex;
    align-items: center;
}

.header .left button {
    margin-right: 8px;
}

.icon-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.icon-button:focus {
    outline: none;
}

.delete-button:hover {
    color: red;
}

.exercise {
    padding: 16px;
}

.exercise-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise-header img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.exercise-name {
    flex-grow: 1;
}

.rest-timer {
    color: var(--principal);
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

table th,
table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

table input {
    width: 50px;
    background-color: var(--background-input);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 4px;
    text-align: center;
}

.completed {
    background-color: rgb(4, 175, 4);
    color: white;
}

.add-set-button {
    width: 100%;
    background-color: var(--principal);
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.completed {
    background-color: green;
    color: white;
}

@media (max-width: 400px) {
    .exercise > * {
        font-size: 12px;
    }
    .exercise{
        margin-left: -13px;
    }
}

@media (max-width: 320px) {
    .exercise > * {
        font-size: 9px;
    }
}
