<div class="start-workout-content">
    <div class="header">
        <div class="left">
            <button (click)="close()" class="icon-button">
                <i class="fas fa-chevron-down"></i>
            </button>
            <span>Entreno</span>
        </div>
        <div class="right">
            <button (click)="openSaveWorkout()" class="btn btn-primary">Terminar</button>
        </div>
    </div>
    <div class="progress-bar">
        <div class="progress" [ngClass]="{'completed': (workoutState.completedSets / workoutState.totalSets) === 1}"
            [style.width.%]="(workoutState.completedSets / workoutState.totalSets) * 100"></div>
    </div>
    <div class="subheader">
        <div class="info">
            <span>Duración: {{ workoutState.formatDuration(workoutState.duration) }}</span>
            <span>Volumen: {{ workoutState.totalVolume }} kg</span>
            <span>Series: {{ workoutState.completedSets }}</span>
        </div>
    </div>
    <div *ngIf="workoutState.exercises.length == 0">
        <h3 style="text-align: center; margin-top: 20px;">Este entrenamiento no tiene ejercicios</h3>
    </div>
    <div class="exercise" *ngFor="let exercise of workoutState.exercises; let exerciseIndex = index">
        <div class="exercise-header">
            <img [src]="exercise.image" alt="{{ exercise.name }}">
            <span class="exercise-name">{{ exercise.name }}</span>
            <button class="icon-button">
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </div>
        <div class="rest-timer">
            <!-- <span style="color: var(--principal);">Temporizador de descanso: 2min 30s</span> -->
        </div>
        <table>
            <thead>
                <tr>
                    <th>SERIE</th>
                    <!-- <th>ANTERIOR</th> -->
                    <th>KG</th>
                    <th>REPS</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let set of exercise.sets; let setIndex = index" [ngClass]="{'completed': set.completed}">
                    <td>{{ setIndex + 1 }}</td>
                    <!-- <td>{{ set.previous }}</td> -->
                    <td>
                        <input type="number" [(ngModel)]="set.kg" placeholder="{{ set.kg }}">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="set.reps" placeholder="{{ set.reps }}">
                    </td>
                    <td>
                        <button (click)="workoutState.toggleSetCompletion(exerciseIndex, setIndex)" class="icon-button">
                            <i [class]="set.completed ? 'fas fa-check-circle' : 'far fa-check-circle'"></i>
                        </button>
                    </td>
                    <td>
                        <button (click)="workoutState.deleteSet(exerciseIndex, setIndex)"
                            class="icon-button delete-button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary add-set-button" (click)="workoutState.addSet(exerciseIndex)">+ Agregar
            Serie</button>
    </div>
</div>