<div class="start-workout-content">
    <div class="header">
        <div class="left">
            <button (click)="close()" class="icon-button">
                <i class="fas fa-chevron-down"></i>
            </button>
            <span>Entreno</span>
        </div>
        <div class="right">
            <button class="btn btn-primary" (click)="discard()">Descartar</button>
        </div>
    </div>
    <div class="progress-bar">
        <div class="progress" [ngClass]="{'completed': (completedSets / totalSets) === 1}"
            [style.width.%]="(completedSets / totalSets) * 100"></div>
    </div>
    <div class="subheader">
        <div class="info">
            <span>Duración: {{ formatDuration(duration) }}</span>
            <span>Volumen: {{ totalVolume }} kg</span>
            <span>Series: {{ completedSets }}</span>
        </div>
    </div>
    <div class="exercise" *ngFor="let exercise of exercises; let exerciseIndex = index">
        <div class="exercise-header">
            <img [src]="exercise.image" alt="{{ exercise.name }}">
            <span class="exercise-name">{{ exercise.name }}</span>
            <button class="icon-button">
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </div>
        <div class="rest-timer">
            <!-- <span style="color: var(--principal);">Temporizador de descanso: 2min 30s</span> -->
        </div>
        <table>
            <thead>
                <tr>
                    <th>SERIE</th>
                    <th>ANTERIOR</th>
                    <th>KG</th>
                    <th>REPS</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let set of exercise.sets; let setIndex = index" [ngClass]="{'completed': set.completed}">
                    <td>{{ setIndex + 1 }}</td>
                    <td>{{ set.previous }}</td>
                    <td>
                        <input type="number" [(ngModel)]="set.kg" placeholder="{{ set.kg }}">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="set.reps" placeholder="{{ set.reps }}">
                    </td>
                    <td>
                        <button (click)="toggleSetCompletion(exerciseIndex, setIndex)" class="icon-button">
                            <i [class]="set.completed ? 'fas fa-check-circle' : 'far fa-check-circle'"></i>
                        </button>
                    </td>
                    <td>
                        <button (click)="deleteSet(exerciseIndex, setIndex)" class="icon-button delete-button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary add-set-button" (click)="addSet(exerciseIndex)">+ Agregar Serie</button>
    </div>
</div>