<div class="container mt-4">
    <div class="row">
        <!-- <div class="col-md-3">
            <nav class="nav flex-column">
                <a class="nav-link active" aria-current="page" href="/edit-profile">Editar perfil</a>
                <a class="nav-link" href="#">Notificaciones</a>
                <a class="nav-link" href="#">Cuentas silenciadas</a>
                <a class="nav-link" href="#">Recuentos de Me gusta y veces que se ha compartido</a>
                <a class="nav-link" href="#">Suscripciones</a>
                <a class="nav-link" href="#">Privacidad de la cuenta</a>
                <a class="nav-link" href="#">Mejores amigos</a>
                <a class="nav-link" href="#">Cuentas bloqueadas</a>
                <a class="nav-link" href="#">Ocultar historia y vídeos en directo</a>
                <a class="nav-link" href="#">Mensajes y respuestas a historias</a>
                <a class="nav-link" href="#">Etiquetas y menciones</a>
                <a class="nav-link" href="#">Comentarios</a>
                <a class="nav-link" href="#">Compartiendo</a>
                <a class="nav-link" href="#">Cuentas restringidas</a>
            </nav>
        </div> -->
        <div class="col-md-9">
            <h3>Editar perfil</h3>
            <form>
                <div class="mb-3">
                    <label for="profilePicture" class="form-label">Foto de perfil</label>
                    <div class="d-flex align-items-center">
                        <img [src]="profile_photo_path" alt="Profile Picture" class="rounded-circle me-3" width="50"
                            height="50">
                        <div class="form-group">
                            <input id="profile_photo"  type="file" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input id="name" [value]="name" class="form-control">

                </div>
                <div class="mb-3">
                    <label for="surname">Surname</label>
                    <input id="surname" class="form-control">
                </div>
                <div class="mb-3">
                   
                </div>
                <div class="form-check form-switch mb-3">
                    
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>

            </form>
            <hr>
            <div style="margin-top: 15px;">
                <h3>Desea hacer logout?</h3>
                <button class="btn btn-secondary" style="background-color: red;" (click)="logout()">logout</button>
            </div>
        </div>
    </div>
</div>