.container {
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: 100vh;
    padding: 20px;
}

.nav-link {
    color: grey;
    margin-bottom: 10px;
}

.nav-link.active {
    color: var(--text-color);
    font-weight: bold;
}

.form-label,
.form-text {
    color: grey;
}

.form-control {
    background-color: var(--background-input);
    color: var(--text-color);
    border: none;
}

.form-control:focus {
    background-color:var(--background-input);
    color: var(--text-color);
    border: none;
    box-shadow: none;
}

.btn-primary {
    background-color: var(--principal);
    border: none;
}

.btn-primary:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--principal);
    border-color: var(--principal);
}