<div class="container-fluid h-100 routines-content">
    <div class="row h-100">
        <div class="col-md-12 p-0">
            <div class="col-md-10 p-0 d-flex flex-column">
                <h3>Mis rutinas</h3>
                <button class="btn btn-primary mb-3" (click)="createNewFolder()">New Folder</button>
                <div class="row">
                    <div class="col-md-4 mb-3" *ngFor="let folder of folders; let i = index" cdkDropList
                        [cdkDropListData]="folder.routines" class="folder" (cdkDropListDropped)="drop($event, i)">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span>{{ folder.name }}</span>
                                <button class="btn btn-success btn-sm" (click)="startCreatingRoutine(i)">New
                                    Routine</button>
                            </div>
                            <div class="card-body card-routines">
                                <ul class="list-group" cdkDropList>
                                    <li *ngFor="let routine of folder.routines; let j = index" class="list-group-item"
                                        cdkDrag>
                                        {{ routine.name }}
                                    </li>
                                </ul>
                                <div *ngIf="folder.isCreatingRoutine" class="new-routine">
                                    <input type="text" [(ngModel)]="newRoutineName"
                                        (keyup.enter)="confirmNewRoutine(i)" />
                                    <button class="btn btn-primary btn-sm" (click)="confirmNewRoutine(i)">OK</button>
                                    <button class="btn btn-danger btn-sm" (click)="cancelNewRoutine(i)">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>