html,
body {
    height: 100%;
    margin: 0;
}

.container-fluid.h-100 {
    height: 100%;
}

.row.h-100 {
    height: 100%;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.p-0 {
    padding: 0 !important;
}

.workouts-content {
    position: fixed;
    top: 27px;
    left: 436px;
    right: 20px;
    max-width: calc(100% - 332px);
    overflow-x: auto;
    color: var(--principal);
}

.card {
    border: 1px solid var(--border-color);
    background-color: var(--background-input);
    margin-bottom: 3%;
}

.card-header {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.new-workout {
    margin-top: 10px;
}

.newRoutine{
    background-color: var(--principal) !important;
    margin-left: 20px;
}

input {
    color: var(--background-color);
}

li {
    background-color: var(--background-input);
    /* border: none; */
    border: 2px solid var(--background-color);
    color: var(--text-color);
}


.fa-icon {
    cursor: pointer;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group-item .d-flex {
    display: flex;
    align-items: center;
}

.mr-2 {
    margin-right: 8px;
}

.ml-2 {
    margin-left: 8px;
}

fa-icon {
    cursor: pointer;
}

.newWorkout {
    background-color: var(--background-input);
    color: var(--text-color);
    border: 2px solid var(--background-color);
    border-radius: 5px;
    height: 45px;
}

.newWorkout input{
    height: 25px;
    background-color: var(--background-input);
    border: none;
    color: var(--text-color);
}
.nameRoutine{
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
}
.nameWorkout{
    background-color: var(--background-input);
    color: var(--text-color);
    /* border: none; */
    border: 1px solid var(--background-input);
}