.container-fluid {
    padding: 0;
    background-color: #000000;
}

.col-2,
.col-8 {
    padding: 0;
}

.posts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-container {
    display: flex;
    width: 58.5%;
    margin-left: -200px;
}

.tab-button {
    position: relative; /* Para posicionar la línea absolutamente */
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    transition: background-color 0.3s;
    flex: 1; /* Cada botón ocupa el 50% del contenedor */
    text-align: center;
}
.tab-button span {
    font-size: 17px; /* Tamaño de letra deseado */
}
.tab-button.active span {
    border-bottom: 3px solid royalblue; /* Línea debajo del texto */
    width: 120%; /* La línea tiene el 100% del ancho del texto */
    padding-bottom: 7px; /* Agrega más margen entre la línea y el texto */

}

.tab-button:hover {
    background-color: #181818; /* Color de fondo al pasar el ratón */
}