<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-navbar></app-navbar>
        </div>
        <div class="col-8 posts-section">
            <div class="tabs-container">
                <button class="tab-button" [ngClass]="{'active': showForYou}" (click)="togglePosts(true)">Para
                    ti</button>
                <button class="tab-button" [ngClass]="{'active': !showForYou}"
                    (click)="togglePosts(false)">Siguiendo</button>
            </div>
            <div *ngIf="showForYou">
                <app-post *ngFor="let post of postsForYou" [post]="post"></app-post>
            </div>
            <div *ngIf="!showForYou">
                <app-post *ngFor="let post of postsFollowing" [post]="post"></app-post>
            </div>
        </div>
        <div class="col-2">
            <!-- <app-profile></app-profile> -->
            <app-suggestions></app-suggestions>
        </div>
    </div>
</div>