.container-fluid {
    padding: 0;
    background-color: var(--background-color);
}

.posts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tab-button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    transition: background-color 0.3s;
    text-align: center;
}

.tab-button span {
    font-size: 17px;
}

.tab-button.active span {
    border-bottom: 3px solid var(--principal);
    width: 120%;
    padding-bottom: 7px;
}

.tab-button:hover {
    background-color: var(--background-input);
}

.right-sidebar {
    background-color: #f0f0f0; /* Color de fondo opcional */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}
