<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!-- <app-navbar></app-navbar> -->
        </div>
        <div class="col-8 posts-section" id="posts-section">
            <div class="tabs-container">
                <div class="tab-button" [ngClass]="{'active': showForYou}" (click)="togglePosts(true)">
                    <span>Para ti</span> <!-- Texto del botón envuelto en un span -->
                </div>
                <div class="tab-button" [ngClass]="{'active': !showForYou}" (click)="togglePosts(false)">
                    <span>Siguiendo</span> <!-- Texto del botón envuelto en un span -->
                </div>
            </div>
            <div *ngIf="showForYou">
                <app-post *ngFor="let post of postsForYou" [post]="post"></app-post>
            </div>
            <div *ngIf="!showForYou">
                <app-post *ngFor="let post of postsFollowing" [post]="post"></app-post>
            </div>
        </div>
        <div class="col-2 right-sidebar" id="right-sidebar">
            <app-profile></app-profile>
            <app-suggestions></app-suggestions>
        </div>
    </div>
</div>