
<div class="container-fluid home-content">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="col-md-10 p-0 d-flex flex-column posts">
                <div class="tabs-container">
                    <div class="tab-button" [ngClass]="{'active': showForYou}" (click)="togglePosts(true)">
                        <span>Para ti</span>
                    </div>
                    <div class="tab-button" [ngClass]="{'active': !showForYou}" (click)="togglePosts(false)">
                        <span>Siguiendo</span>
                    </div>
                </div>
                <div *ngIf="showForYou">
                    <app-post *ngFor="let post of postsForYou" [post]="post"></app-post>
                </div>
                <div *ngIf="!showForYou">
                    <app-post *ngFor="let post of postsFollowing" [post]="post"></app-post>
                    <p *ngIf="postsFollowing.length==0">No sigues a nadie</p>
                </div>
                <div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>