/* .container-fluid {
    padding: 0;
    background-color: var(--background-color);
} */

/* .home-content {
    position: fixed;
    top: 27px;
    left: 436px;
    right: 20px;
    max-width: calc(100% - 332px);
    overflow-x: auto;
    color: var(--principal);
} */

/* .posts-section {
    position: fixed;
    top: 0;
    left: 190px;
    max-height: calc(100vh);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12.5%;
    margin-top: 54px;
}

.posts-section::-webkit-scrollbar {
    display: none;
}

.posts-section {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

.tabs-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    width: 74vh;
}

.tab-button {
    background-color: transparent;
    border: none;
    padding: 10px 120px;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    transition: background-color 0.3s;
    text-align: center;
}

.tab-button span {
    font-size: 17px;
}

.tab-button.active span {
    border-bottom: 3px solid var(--principal);
    width: 120%;
    padding-bottom: 7px;
}

.tab-button:hover {
    background-color: var(--background-input);
}

/* .right-sidebar {
    background-color: var(--background-color);
    margin-left: 78%;
    margin-right: 10%;
    width: 27%;
} */

.posts {
    overflow-y: scroll;
    margin-left: 14%;
    height: calc(100vh);
}