.save-workout-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
}

.icon-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.icon-button:focus {
    outline: none;
}

.btn-save {
    background: var(--principal);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-save:focus {
    outline: none;
}

.workout-summary {
    margin-top: 16px;
}

.file-upload {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.file-upload label {
    background: var(--background-input);
    color: var(--text-color);
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload input {
    display: none;
}

.file-upload span {
    margin-left: 16px;
}

.image-upload {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.image-upload img {
    width: 100%;
    max-width: 200px;
    margin-top: 16px;
}

textarea {
    margin-top: 16px;
    background: var(--background-input);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 4px;
    resize: none;
}

.btn-discard {
    margin-top: 16px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.btn-discard:focus {
    outline: none;
}

.swal2-popup {
    background-color: var(--background-color) !important;
    border: 2px solid var(--border-color) !important;
    color: var(--text-color) !important;
}

.swal2-title {
    color: var(--text-color) !important;
}

.swal2-content {
    color: var(--text-color) !important;
}

div:where(.swal2-container).swal2-center>.swal2-popup{
    background-color: var(--background-color) !important;
    border: 2px solid var(--border-color) !important;
    color: var(--text-color) !important;
}