h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

hr {
    border-color: var(--border-color);
}

.text-dark {
    color: var(--text-color) !important;
}

a.text-dark:hover {
    color: var(--principal) !important;
}

.btn-outline-primary {
    color: var(--principal);
    border-color: var(--principal);
}

.btn-outline-primary:hover {
    background-color: var(--principal);
    color: var(--text-color);
}