.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.card-body {
  padding: 16px;
}

.card-title {
  margin-bottom: 16px;
  font-size: 1.25rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.form-group {
  margin-bottom: 16px;
}

.form-control {
  margin-bottom: 8px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
}

.list-group {
  overflow-y: auto;
  max-height: calc(100vh - 333px);
}

.list-group::-webkit-scrollbar {
  display: none;
}

.list-group-item {
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--background-color);
}

.img-thumbnail {
  background-color: transparent;
  border: none;
  max-width: 50px;
  margin-right: 16px;
}

.text-muted {
  font-size: 0.875rem;
  color: var(--text-color);
}

.searchbar-content {
  border: 2px solid var(--border-color);
  border-radius: 25px;
  position: fixed;
  top: 30px;
  left: 72%;
  right: 64px;
  max-width: calc(100% - 60%);
  max-height: calc(100vh - 27px);
}

.form-control {
  border-radius: 10px;
  background-color: var(--background-input);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.form-control::placeholder {
  color: grey;
}

.form-group {
  margin-bottom: 16px;
  position: relative;
}

.search-input-wrapper {
  position: relative;
  margin-top: 15px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #aaa;
}

.search-input {
  padding-left: 40px;
  /* Espacio para el ícono de búsqueda */
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.searchbar-header {
  justify-content: space-between;
  display: flex;
}

@media (max-width: 1650px) {
  .searchbar-content{
    left: 76%;
    right: 54px;
  }
}
@media (max-width: 1439px) {

  .searchbar-content {
      left: 73% !important;
      right: 25px !important;
  }
}
@media (max-width: 992px) {
  .searchbar-content {
    display: none;
}
}