/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20vh;
}

.formulario {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-contenedor {
    position: relative;
    margin-bottom: 20px;
}

.input-contenedor i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ffffff;
}

.input-contenedor input {
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.input-contenedor input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.olvidar {
    margin-bottom: 20px;
}

.olvidar input[type="checkbox"] {
    margin-right: 10px;
}

.registrar {
    text-align: center;
}

.registrar a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.registrar a:hover {
    color: #00bcd4;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0097a7;
}