.profile-container {
    padding: 10px;
    margin-top: 17px;
    margin-left: -10px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    width: 72.5%;
    
}
.profile-container h5{
    margin-bottom: 18px;
}

.profile-image {
    border-radius: 50%;
    margin-right: 10px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.username {
    font-weight: bold;
}

.name {
    color: grey;
}

.profile-button {
    background: none; /* Sin fondo */
    text-decoration: none;
    border: none; /* Sin borde */
    padding: 0; /* Sin relleno */
    color: var(--principal); /* Color azul */
    font-size: 14px; /* Tamaño del texto */
    cursor: pointer; /* Cursor de puntero para indicar que es clickeable */
}

.profile-button:hover span {
    color: var(--text-color);
    text-decoration: none;
}

.profileSpan{
    color: var(--principal);
}