.workout-card {
    position: fixed;
    top: 27px;
    left: 436px;
    right: 20px;
    max-width: calc(100% - 1025px);
    overflow-x: auto;
    border: 2px solid var(--border-color);
    background: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100% - 50px);
    /* max-height: 100vh; */
}

.workout-card::-webkit-scrollbar {
    display: none;
}

.workout-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
}

.workout-header h2 {
    margin: 0;
}

.workout-header i {
    text-align: right;
}

.menu {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.menu-dropdown {
    position: absolute;
    right: 0;
    top: 30px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.menu-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
}

.menu-dropdown li {
    padding: 10px 20px;
    cursor: pointer;
    width: 19vh;
}

.menu-dropdown li:hover {
    background: var(--background-input);
}

.workout-body {
    margin-top: 20px;
}

.exercise {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.exercise-mobile {
    align-items: center;
    margin-bottom: 50px;
}

.exercise-header {
    display: flex;
}

.exercise img,
.exercise-mobile img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.exercise-info,
.exercise-mobile-info {
    flex: 1;
}

.exercise-info h3,
.exercise-mobile-info h3 {
    margin: 0;
    font-size: 18px;
}

.exercise-details {
    display: flex;
    margin-top: 15px;
}

.exercise-details-mobile {
    display: flex;
}

.exercise-details-mobile>* {
    font-size: 10px;
}

.detail {
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    border-radius: 6px;
    margin-left: 10px;
}

.detail i {
    margin-right: 5px;
}

.sets {
    justify-content: center;
    width: 9vh;
    margin-left: 0px;
}

.reps {
    justify-content: center;
    width: 12vh;
}

.rest {
    justify-content: center;
    width: 15vh;
}

.btnStartWorkout {
    background-color: var(--principal);
    color: #FFFF;
    border: none;
    border-radius: 20px;
    height: 3vh;
    padding: 5px;
    width: 20vh;
    margin-left: 3vh;
}

.workout-body.mobile {
    display: none;
}

.mobile img {
    width: 82px;
}

.mobile h3 {
    font-size: 15px;
}

.btn-startWorkout-mobile {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .btn-startWorkout-desktop {
        display: none;
    }

    .btn-startWorkout-mobile {
        margin-top: 10px;
    }

    .mat-mdc-raised-button {
        width: 100% !important;
    }

    .workout-progress {
        bottom: 54px !important;
        display: flex;
        justify-content: space-between;
        /* display: flex; */
    }

    .buttons-workout {
        /* margin-left: 90px !important; */
        margin-top: 5px !important;
    }

    .titleButtonsWorkout {
        margin-top: 6px !important;
    }

    .workout-card {
        max-height: calc(100% - 130px);
    }
}

.workout-progress {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    /* align-items: center; */
    padding: 16px;
    border-top: 1px solid var(--border-color);
}

.workout-progress .btn {
    margin: 0 8px;
}

.buttons-workout {
    margin-left: -8px;
    margin-top: 15px;
}