<div *ngIf="isLoading" class="workout-card">

    <div class="d-flex justify-content-center align-items-center fixed-top w-100" style="margin-top: 20vh;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div *ngIf="!isLoading" class="workout-card">
    <div class="workout-header">
        <h2>{{workoutName}}</h2>
        <button class="btn-startWorkout-desktop" mat-raised-button (click)="openBottomSheet()">Comenzar
            Entrenamiento</button>
        <div class="menu">
            <i class="fas fa-ellipsis-v" (click)="toggleMenu()"></i>
            <div class="menu-dropdown" *ngIf="menuOpen" (click)="closeMenu()">
                <ul>
                    <li (click)="copyRoutineLink()">Copy Routine Link</li>
                    <li (click)="editRoutine()">Edit Routine</li>
                    <li (click)="deleteRoutine()">Delete Routine</li>
                </ul>
            </div>
        </div>
    </div>
    <button mat-raised-button *ngIf="buttonMobile" class="btn-startWorkout-mobile" (click)="openBottomSheet()">Comenzar entrenamiento</button>
    <div class="workout-body desktop">
        <p *ngIf="exercises.length==0" style="text-align: center;">Este entrenamiento no tiene ejercicios asigandos</p>
        <div class="exercise" *ngFor="let exercise of exercises">
            <img [src]="exercise.exercise.image" alt="Exercise Image">
            <div class="exercise-info">
                <h3>{{exercise.exercise.name}}</h3>
                <div class="exercise-details">
                    <div class="detail sets">
                        <i class="fas fa-layer-group"></i> {{exercise.series}} sets
                    </div>
                    <div class="detail reps">
                        <i class="fas fa-sync-alt"></i> {{exercise.reps}} reps
                    </div>
                    <div class="detail rest">
                        <i class="fas fa-clock"></i> Rest {{exercise.rest}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workout-body mobile">
        <p *ngIf="exercises.length==0">Este entrenamiento no tiene ejercicios asigandos</p>
        <div class="exercise-mobile" *ngFor="let exercise of exercises">
            <div class="exercise-header">
                <img [src]="exercise.exercise.image" alt="Exercise Image">
                <h3>{{exercise.exercise.name}}</h3>
            </div>
            <div class="exercise-info">
                <div class="exercise-details-mobile">
                    <div class="detail sets">
                        <i class="fas fa-layer-group"></i> {{exercise.series}} sets
                    </div>
                    <div class="detail reps">
                        <i class="fas fa-sync-alt"></i> {{exercise.reps}} reps
                    </div>
                    <div class="detail rest">
                        <i class="fas fa-clock"></i> Rest {{exercise.rest}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="workout-progress" *ngIf="workoutInProgress && !isLoading">
    <span class="titleButtonsWorkout">Entreno en Progreso</span>
    <br>
    <div class="buttons-workout">
        <button (click)="resumeWorkout()" class="btn btn-primary">Reanudar</button>
        <button (click)="discardWorkout()" class="btn btn-danger">Descartar</button>
    </div>
</div>

<!-- <app-error404-component class="workout-card" *ngIf="!isLoading && exercises.length==0"></app-error404-component> -->